<!DOCTYPE html>
<html>
    <head>
        <title>Tic-Tac-Toe</title>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>Tic-Tac-Toe</h1>
        <div>
            {% if score == 1 %}
                Winner is X
            {% elif score == -1 %}
                Winner is O
            {% elif score == 0 %}
                Tie
            {% else %}
                {% if turn == 1 %}
                    X turn
                {% elif turn == -1 %}
                    O turn
                {% endif %}
            {% endif %}
        </div>
        <table>
            {% for i in range(3) %}
                <tr>
                    {% for j in range(3) %}
                        <td>
                            {% if game[i][j] != 0 %}
                                {% if game[i][j] == 1 %}
                                    X
                                {% elif game[i][j] == -1 %}
                                    O
                                {% endif %}
                            {% elif score == None %}
                                <a href="/play/{{ i }}/{{ j }}">
                                    {% if turn == 1 %}
                                        X
                                    {% elif turn == -1 %}
                                        O
                                    {% endif %}
                                </a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div >
            {% if score == None %}
            <a class="mr" href="/play">Play next move</a>
            <a class="mr" href="{% if count > 0 %}/undo{% endif %}">Undo last move</a>
            <a  href="/reset">Reset the game</a>
                
            {% else %}
                <a href="/reset">Play again</a>             
            {% endif %}
        </div>
    </body>
</html>